# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
*.cbp
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build/

# Vim
*.swp

# Doxygen
doxygen*/

# QT
*.user
ui_*.h

# Automatically created Tex Files
*.aux
*.log
*.synctex.gz
*.pdf

# Doxygen output 
doc/latex/
doc/html/

# NetBeans project files
nbproject/

# Image files 
img/UISM/
img/UICM/
img/paper/
img/unitestimages/

